<div class="">
    <div class="">
        <div class="  d-flex justify-content-between align-item-center" >
            <div>
                <button class="btn btn-success" style="margin: 10px" (click)="searchTask(task)" (click)="onClick(task)" >
                    Editar
                </button>
                <button class="btn btn-danger" (click)="removeTask(task)" >
                    Eliminar
                  </button>
              </div>
        </div>
        
    </div>
    <!-- <div class="app">
        <app-task-add></app-task-add>
    </div> -->
</div>


