<form   #formNew="ngForm" >
<table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">Marca</th>
                    <th scope="col">Motor</th>
                    <th scope="col">Año</th>
                    <th scope="col">Fuerza</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Accion</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let car of dataService.cars">
                    <td> {{car.marca}} </td>
                    <td> {{car.motor}} </td>
                    <td> {{car.tiempo}} </td>
                    <td> {{car.fuerza}} </td>
                    <td> {{car.tipo}} </td>
                    <td> 
                            <app-task [car]="car" (eventClicked)="childEventClicked($event)" ></app-task>
                           
                    </td>
                  </tr>
                 
                  
                </tbody>
              </table>

      </form>
