<app-nav></app-nav>
<div class="bg">
  <div class="container p-4" >
    <div class="row">
      <div class="col-md-4 " >
          <app-task-add [objetos]="clickedEvent" >  </app-task-add>
      </div>
      
      <div class="col-md-8">
          <app-task-list (eventClicked)="childEventClicked($event)" ></app-task-list>    
          <img src="https://www.pngkit.com/png/full/231-2310849_varios-carros-en-formato-png-bmw-z4-2010.png" class="rounded mx-auto d-block" alt="Responsive image" width="90%" height="mx-auto" >
      </div>
    </div>
  </div>
</div>
