<div class="col-md-10 card-header d-flex justify-content-between align-item-center " >
        Marca
        <div class="align-item-center " >
                Motor
        </div>
        <div class="align-item-center ">
                Año
        </div>
        <div class="align-item-center ">
                Fuerza
        </div >
        <div class="align-item-center ">
                Tipo
        </div>
        <div class="align-item-center ">
                Accion
        </div>
      </div>
<app-task *ngFor="let task of tasks" [task]="task"></app-task>

